:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #fafbfc;
    --primaryLight: #626065;
    --secondary: #b40909;
    --tertiary: #454444;
    --headerColor: #1a1a1a;
    --bodyTextColor: #565458;
    --bodyTextColorWhite: #fafbfc;
    --bodyFont: "Poppins", sans-serif;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 18px;
    /* 60px - 100px top and bottom */
    --sectionPadding: 1rem;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body.cs-open {
      overflow: hidden;
    }
    #cs-navigation {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0.75rem 1rem;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;
    }
    #cs-navigation:before {
      content: "";
      width: 100%;
      height: 0vh;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: -1100;
      transition: height 0.5s, opacity 0.5s;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
    #cs-navigation.cs-active:before {
      height: 150vh;
      opacity: 1;
    }
    #cs-navigation.cs-active .cs-ul-wrapper {
      opacity: 1;
      transform: scaleY(1);
      transition-delay: 0.15s;
    }
    #cs-navigation.cs-active .cs-li {
      opacity: 1;
      transform: translateY(0);
    }
    #cs-navigation .cs-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #cs-navigation .cs-logo {
      width: 40%;
      max-width: 9.125rem;
      height: 100%;
      margin: 0 auto 0 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    #cs-navigation .cs-logo img {
      width: 100%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
    }
    #cs-navigation .cs-toggle {
      /* 44px - 48px */
      width: clamp(2.75rem, 6vw, 3rem);
      height: clamp(2.75rem, 6vw, 3rem);
      margin: 0 0 0 auto;
      background-color: transparent;
      border: none;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #cs-navigation .cs-active .cs-line1 {
      top: 50%;
      transform: translate(-50%, -50%) rotate(225deg);
    }
    #cs-navigation .cs-active .cs-line2 {
      top: 50%;
      transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
      transform-origin: center;
    }
    #cs-navigation .cs-active .cs-line3 {
      opacity: 0;
      bottom: 100%;
    }
    #cs-navigation .cs-box {
      /* 24px - 28px */
      width: clamp(1.5rem, 2vw, 1.75rem);
      /* 14px - 16px */
      height: clamp(0.875rem, 1.5vw, 1rem);
      position: relative;
    }
    #cs-navigation .cs-line {
      width: 100%;
      height: 2px;
      background-color: #1a1a1a;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    #cs-navigation .cs-line1 {
      top: 0;
      transition: transform 0.5s, top 0.3s, left 0.3s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;
      transform-origin: center;
    }
    #cs-navigation .cs-line2 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: top 0.3s, left 0.3s, transform 0.5s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    #cs-navigation .cs-line3 {
      bottom: 0;
      transition: bottom 0.3s, opacity 0.3s;
    }
    #cs-navigation .cs-ul-wrapper {
      width: 100%;
      height: auto;
      padding-bottom: 2.4em;
      background-color: #fff;
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      overflow: hidden;
      transform: scaleY(0);
      transition: transform 0.4s, opacity 0.3s;
      transform-origin: top;
    }
    #cs-navigation .cs-ul {
      width: 100%;
      height: auto;
      max-height: 65vh;
      margin: 0;
      padding: 3rem 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1.25rem;
      overflow: scroll;
    }
    #cs-navigation .cs-li {
      text-align: center;
      list-style: none;
      width: 100%;
      margin-right: 0;
      opacity: 0;
      /* transition from these values */
      transform: translateY(-4.375rem);
      transition: transform 0.6s, opacity 0.9s;
    }
    #cs-navigation .cs-li:nth-of-type(1) {
      transition-delay: 0.05s;
    }
    #cs-navigation .cs-li:nth-of-type(2) {
      transition-delay: 0.1s;
    }
    #cs-navigation .cs-li:nth-of-type(3) {
      transition-delay: 0.15s;
    }
    #cs-navigation .cs-li:nth-of-type(4) {
      transition-delay: 0.2s;
    }
    #cs-navigation .cs-li:nth-of-type(5) {
      transition-delay: 0.25s;
    }
    #cs-navigation .cs-li:nth-of-type(6) {
      transition-delay: 0.3s;
    }
    #cs-navigation .cs-li:nth-of-type(7) {
      transition-delay: 0.35s;
    }
    #cs-navigation .cs-li:nth-of-type(8) {
      transition-delay: 0.4s;
    }
    #cs-navigation .cs-li:nth-of-type(9) {
      transition-delay: 0.45s;
    }
    #cs-navigation .cs-li:nth-of-type(10) {
      transition-delay: 0.5s;
    }
    #cs-navigation .cs-li:nth-of-type(11) {
      transition-delay: 0.55s;
    }
    #cs-navigation .cs-li:nth-of-type(12) {
      transition-delay: 0.6s;
    }
    #cs-navigation .cs-li:nth-of-type(13) {
      transition-delay: 0.65s;
    }
    #cs-navigation .cs-li-link {
      /* 16px - 24px */
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      line-height: 1.2em;
      text-decoration: none;
      margin: 0;
      color: var(--headerColor);
      display: inline-block;
      position: relative;
    }
    #cs-navigation .cs-li-link:before {
      /* active state underline */
      content: "";
      width: 100%;
      height: 1px;
      background: currentColor;
      opacity: 1;
      display: none;
      position: absolute;
      bottom: -0.125rem;
      left: 0;
    }
    #cs-navigation .cs-li-link.cs-active:before {
      display: block;
    }
    #cs-navigation .cs-button-solid {
      display: none;
    }
  }
  
  /*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/
  /* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0 1rem;
      background-color: #b40909;
      /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
      position: fixed;
      z-index: 10000;
    }
    #cs-navigation .cs-container {
      width: 95%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5rem;
    }
    #cs-navigation .cs-toggle {
      display: none;
    }
    #cs-navigation .cs-logo {
      width: 18.4%;
      max-width: 21.875rem;
      height: 4.0625rem;
      /* margin-right auto pushes everything away from it to the right */
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
    }
    #cs-navigation .cs-logo img {
      width: 100%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
    }
    #cs-navigation .cs-ul {
      width: 100%;
      margin: 1%;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 20px - 36px */
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }
    #cs-navigation .cs-li {
      list-style: none;
      padding: 2rem 0;
      /* prevent flexbox from squishing it */
      flex: none;
    }
    #cs-navigation .cs-li-link {
      /* 14px - 16px */
      font-family: var(--bodyFont);
      font-size: clamp(1rem, 1vw, 1.25rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: block;
      position: relative;
    }
    #cs-navigation .cs-li-link:hover:before {
      width: 100%;
    }
    #cs-navigation .cs-li-link.cs-active:before {
      width: 100%;
    }
    #cs-navigation .cs-li-link:before {
      /* active state underline */
      content: "";
      width: 0%;
      height: 2px;
      background: var(--primary);
      opacity: 1;
      display: block;
      position: absolute;
      bottom: 0rem;
      left: 0;
      transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-align: center;
      text-decoration: none;
      min-width: 9.375rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      color: #fff;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #cs-navigation .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-540 {
        /* 144px - 300px - leaving extra space for the navigation */
        padding: clamp(9rem, 25.95vw, 18.75em) 1rem 0;
        /* 130px - 175px */
        padding-bottom: clamp(8.125rem, 12.5vw, 10.9375em);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        /* clips the color overlay so it doesn't cause an overflow */
        overflow: hidden;
        position: relative;
    }
    #hero-540 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;  
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #hero-540 .cs-content {
        text-align: left;
        /* changed to at tablet */
        width: 90%;
        max-width: 33.5rem;
        /* 100px - 150px, changes to 0 at tablet */
        margin-top: clamp(6.25rem, 28vw, 9.375rem);
    }
    #hero-540 .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.3rem, 6.7vw, 3rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        /* 16px - 32px */
        margin: 0 0 clamp(1rem, 4vw, 2rem) 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #hero-540 .cs-text {
        font-size: 1.75rem;
        line-height: 1em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        /* 40px - 64px */
        margin: -20px 0 clamp(2.5rem, 6.3vw, 3.5rem);
        color: var(--bodyTextColorWhite);
    }
    #hero-540 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: auto;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--secondary);
        border-radius: 0.25rem;
        display: inline-block;
        position: absolute;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;
        margin-top: -10px;
    }
    #hero-540 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #hero-540 .cs-button-solid:hover {
        color: #fff;
    }
    #hero-540 .cs-button-solid:hover:before {
        width: 100%;
    }
    #hero-540 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    #hero-540 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 125rem;
        width: 200rem;
        background: rgba(43, 41, 41, 0.7);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        top: -20rem;
        left: 50%; 
        z-index: 1;
        transform: rotate(-55deg) translateX(-50%);
    }
    #hero-540 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-540 .cs-container {
        align-items: flex-end;
    }
    #hero-540 .cs-content {
        width: 100%;
        margin-top: 0rem;
    }
    #hero-540 .cs-background:before {
        top: -76.25rem;
        transform: rotate(-55deg) translateX(-50%);
    }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-561 {
        padding: var(--sectionPadding);
        background-color: #e4e3e3;
    }
    #quote-561 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin-block: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #quote-561 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }

    #quote-561 .cs-topper:before {
        /* yellow line */
        content: "";
        width: 3.125rem;
        height: 2px;
        background: var(--secondary);
        opacity: 1;
        display: block;
    }
    #quote-561 .cs-quote {
        /* 31px - 49px */
        font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: 900;
        margin: 0;
        color: var(--headerColor);
    }
    #quote-561 .cs-text {
        color: var(--bodyTextColor);
        font-family: var(--bodyFont);
        line-height: 1.3em;
        width: 100%;
        max-width: 60rem;
    }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1102 {
        padding: var(--sectionPadding);
    }
    #meet-team-1102 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 44rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: 20px;
    }
    #meet-team-1102 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: 40.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #meet-team-1102 .cs-title {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #meet-team-1102 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #meet-team-1102 .cs-card-group {
        width: 90%;
        /* changes at tablet */
        max-width: 25.8125rem;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 1.8vw, 1.25rem);
        position: relative;
    }
    #meet-team-1102 .cs-item {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        grid-column: span 12;
        position: relative;
    }
    #meet-team-1102 .cs-picture {
        width: 100%;
        min-height: 18.75rem;
        /* removed at tablet */
        aspect-ratio: 1.17142857;
        /* clips img tag from overflowing it on hover */
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 1;
    }
    #meet-team-1102 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
        object-position: top;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.7s;
    }
    #meet-team-1102 .cs-info {
        text-align: center;
        width: 100%;
        height: 50%;
        /* negative margin will pull it up and overlap the image, changes to -60px at desktop */
        margin-top: -6.25rem;
        /* 20px - 24px */
        padding: clamp(1.25rem, 2vw, 1.5rem);
        /* prevents padding from affecting the height and width */
        box-sizing: border-box;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    #meet-team-1102 .cs-name {
        text-align: inherit;
        font-family: var(--bodyFont);
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 800;
        margin: 0 0 0.25rem 0;
        color: var(--headerColor);
        display: block;
    }
    #meet-team-1102 .cs-description {
        text-align: inherit;
        font-size: 1rem;
        font-family: var(--bodyFont);
        line-height: 1.5em;
        margin: 1rem 0 1rem;
        color: var(--bodyTextColor);
        display: block;
    }
    #meet-team-1102 .cs-link a {
        font-family: var(--bodyFont);
        font-size: var(--bodyFontSize);
        color: var(--secondary);
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #meet-team-1102 .cs-card-group {
        max-width: 100%;
        align-items: stretch;
    }
    #meet-team-1102 .cs-item {
        max-width: 100%;
        grid-column: span 6;
    }
    #meet-team-1102 .cs-item:hover .cs-picture img {
        transform: scale(1.12);
        opacity: 0.4;
    }
    #meet-team-1102 .cs-picture {
        height: 100%;
        /* 280px - 350px, resets at desktop */
        min-height: clamp(17.5rem, 33vw, 21.875rem);
        background-color: #000;
        overflow: hidden;
        aspect-ratio: initial;
    }
    #meet-team-1102 .cs-picture img {
        transition:
            transform 0.6s,
            opacity 0.3s;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #meet-team-1102 .cs-container {
        max-width: 80rem;
    }
    #meet-team-1102 .cs-item {
        grid-column: span 3;
    }
    #meet-team-1102 .cs-info {
        margin-top: auto;
    }
    #meet-team-1102 .cs-picture {
        /* 245px - 338px */
        min-height: 14.3125rem;
    }
}
   
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-412 {
        padding: var(--sectionPadding);
        padding-top: 3%;
        /* clips svg as the screen grows so it doesn't overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #sbs-412 .cs-container {
        width: 100%;
        /* changes to 1280 at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 108px */
        /* gap: clamp(3rem, 7.1vw, 6.75rem); */
        justify-content: space-around;
    }
    #sbs-412 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 15rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbs-412 .cs-title {
        margin: 0 0 2rem 0;
        line-height: 1em;
        font-size: 2.5rem
    }

    #sbs-412 .cs-text {
        margin-bottom: 1rem;
        font-size: 17px;
    }
    #sbs-412 .cs-text:last-of-type {
        margin-bottom: 2rem;

    }
    #sbs-412 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-family: var(--bodyFont);
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.3rem;
        background-color: var(--secondary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbs-412 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #sbs-412 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbs-412 .cs-image-group {
        font-size: min(2.5vw, 1em);
        width: 40.1875em;
        height: 30.5em;
        /* sends it to the top of the flexbox */
        order: -1;
        position: relative;
    }
    #sbs-412 .cs-picture {
        /* clips the img tag corners */
        overflow: hidden;
        position: absolute;
        display: block;
        border-radius: 0.4rem;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-412 .cs-container {
        max-width: 100rem;
        flex-direction: row;
        align-items: center;
    }
    #sbs-412 .cs-content {
        width: 48%;
    }
    #sbs-412 .cs-image-group {
        font-size: min(1.15vw, 1em);
        flex: none;
    }
}

/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-1637 {
      padding: var(--sectionPadding);
      background-color: #e4e3e3;
      position: relative;
      z-index: 1;
    }
    #content-1637 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 100px */
      gap: clamp(3rem, 9vw, 6.25rem);
      padding: 2em;
    }
    #content-1637 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #content-1637 .cs-flex {
      max-width: 38rem;
    }
    #content-1637 .cs-title {
      color: var(--bodyTextColor);
    }
    #content-1637 .cs-h2 {
      font-size: 2rem;
      line-height: 1.2em;
      font-weight: 700;
      font-family: var(--bodyFont);
      margin: 20px 0 1rem 0;
    }
    #content-1637 .cs-text {
      margin-bottom: 1rem;
      opacity: .8;
      font-family: var(--bodyFont);
    }
    #content-1637 .cs-text:last-of-type {
      margin: 2rem 0 2rem 0;
    }
    #content-1637 .cs-button-solid {
      font-size: 1rem;
      font-family: var(--bodyFont);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      text-align: center;
      margin: 0 0 0 3rem;
      color: #fff;
      min-width: 12rem;
      padding: 0 1.5rem;
      background-color: var(--secondary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #content-1637 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      border-radius: 0.25rem;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width .3s;
    }
    #content-1637 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #content-1637:before {
      height: 63%;
    }
    #content-1637 .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2.5rem;
    }
    #content-1637 .cs-flex {
      width: 50%;
      text-align: left;
      max-width: 38rem;
    }
    #content-1637 .cs-h2 {
        color: var(--headerColor);
      }
    #content-1637 .cs-title {
      margin: 0;
    }
  }

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-272 {
        padding: 3rem 4rem;
        background-color: var(--tertiary);
        /* Navigation Links */
        /* Contact Links */
    }
    #cs-footer-272 .cs-container {
        width: 100%;
        /* reset on tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 5.5rem;
        row-gap: 2rem;
    }
    #cs-footer-272 .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
    }
    #cs-footer-272 .cs-logo {
        /* 210px - 240px */
        width: clamp(13.125rem, 8vw, 15rem);
        height: auto;
        display: block;
        /* 28px - 44px */
        margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
    }
    #cs-footer-272 .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #cs-footer-272 .cs-logo-img.dark {
        display: none;
    }
    #cs-footer-272 .cs-text {
        /* 14px - 16px */
        font-size: 1rem;
        font-family: var(--bodyFont);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 2rem;
        width: 78%;
        /* changes to 305px at desktop */
        max-width: 18rem;
    }
    #cs-footer-272 .cs-social {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.75rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    #cs-footer-272 .cs-social-link {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #4e4b66;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition:
            transform 0.3s,
            background-color 0.3s;
    }
    #cs-footer-272 .cs-social-link:hover {
        background-color: #1a1a1a;
        transform: translateY(-0.1875rem);
    }
    #cs-footer-272 .cs-social-img {
        height: 0.8125rem;
        width: auto;
        display: block;
    }
    #cs-footer-272 .cs-nav {
        padding: 0;
        margin: 0;
    }
    #cs-footer-272 .cs-nav-li {
        list-style: none;
        margin-bottom: 1rem;
    }
    #cs-footer-272 .cs-nav-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-272 .cs-header {
        font-size: 1.2rem;
        font-family: var(--bodyFont);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #cs-footer-272 .cs-header:after {
        content: "";
        width: 2rem;
        height: 0.25rem;
        margin: 1rem auto 1.5rem 0;
        background: var(--primary);
        opacity: 1;
        position: relative;
        display: block;
    }
    #cs-footer-272 .cs-nav-link {
        font-size: 1rem;
        font-family: var(--bodyFont);
        text-decoration: none;
        line-height: 1.5em;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #cs-footer-272 .cs-nav-link:before {
        /* underline */
        content: "";
        width: 0%;
        height: 0.125rem;
        color: var(--bodyTextColorWhite);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-272 .cs-nav-link:hover:before {
        width: 100%;
        background: var(--primary);
    }
    #cs-footer-272 .cs-subscribe {
        margin: 0;
        padding: 0;
        width: 20%;
    }
    #cs-footer-272 .cs-subscribe-li {
        list-style: none;
        margin-bottom: 0rem;
    }
    #cs-footer-272 .cs-subscribe-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-272 .cs-form {
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
    }
    #cs-footer-272 .cs-input {
        font-size: 1rem;
        font-family: var(--bodyFont);
        width: 100%;
        height: 3rem;
        margin-bottom: 20px;
        padding: 0;
        padding-left: 1rem;
        border-radius: 0.25rem;
        border: none;
        box-sizing: border-box;
        display: block;
    }
    #cs-footer-272 .cs-submit {
        width: 100%;
        border: none;
        color: var(--bodyTextColorWhite);
    }
    #cs-footer-272 .cs-button-solid {
        font-size: 1rem;
        font-family: var(--bodyFont);
        line-height: clamp(2.5rem, 5vw, 3rem);
        text-decoration: none;
        text-align: center;
        margin: 0;
        color: #fff;
        padding: 0 1.5rem;
        background-color: var(--secondary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #cs-footer-272 .cs-button-solid:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        border-radius: 0.25rem;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width .3s;
      }
    #cs-footer-272 .cs-button-solid:hover:before {
    width: 100%;
    }
    #cs-footer-272 .cs-address {
        font-size: 1rem;
        font-family: var(--bodyFont);
        margin-bottom: 1.25rem;
        color: var(--bodyTextColorWhite);
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-272 .cs-container {
        max-width: 80rem;
        row-gap: 0;
    }
    #cs-footer-272 .cs-button-solid {
        width: auto;
    }
    #cs-footer-272 .cs-contact {
        flex-direction: row;
        justify-content: space-between;
        border-top: none;
    }
    #cs-footer-272 .cs-contact-li {
        margin: 0;
        padding-inline-start: 0;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-272 .cs-container {
        /* pushes all flex children to the top */
        align-items: flex-start;
        justify-content: flex-end;
    }
    #cs-footer-272 .cs-logo-group {
        /* pushes everything to the right of it as far as possible in a flexbox */
        margin-right: auto;
        width: auto;
        max-width: 14rem;
    }
    #cs-footer-272 .cs-text {
        width: 100%;
        color: var(--bodyTextColorWhite);
    }
    #cs-footer-272 .cs-social {
        flex-direction: row;
        position: relative;
        top: auto;
        right: auto;
    }
    #cs-footer-272 .cs-contact {
        width: auto;
    }
}
